aiohttp==3.13.3
anyio==4.12.1
authlib==1.6.6
anthropic==0.76.0
browser-use-sdk==2.0.15
bubus==1.5.6
cdp-use==1.4.5
click==8.3.1
cloudpickle==3.1.2
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
google-genai==1.65.0
groq==1.0.0
httpx==0.28.1
InquirerPy==0.3.4
markdownify==1.2.2
mcp==1.26.0
ollama==0.6.1
openai==2.16.0
pillow==12.1.0
posthog==7.7.0
psutil==7.2.2
pydantic==2.12.5
pypdf==6.6.2
pyotp==2.9.0
python-docx==1.2.0
python-dotenv==1.2.1
requests==2.32.5
reportlab==4.4.9
rich==14.3.1
screeninfo==0.8.1
typing-extensions==4.15.0
uuid7==0.1.0
