--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.6.0+cpu
numpy==2.2.6
fsspec==2025.3.0
lightning-utilities==0.15.2
packaging==24.2
PyYAML==6.0.2
tqdm==4.67.1
typing-extensions==4.12.2
torchmetrics==1.8.2
